$drops-caret--enabled: true !default;
$drops-menu--enabled: true !default;
$drops-heading--enabled: true !default;
$drops-anchor--enabled: true !default;
$drops-divider--enabled: true !default;
$drops-header--enabled: true !default;
$drops-content--enabled: true !default;
