/**
 * Drops
 */

@mixin mixin-dispatcher($value, $flags, $mixin) {
  @if $mixin == 'drops-divider--border-width' {
    @include drops-divider--border-width($value, $flags);
  } @elseif $mixin == 'drops-caret--base' {
    @include drops-caret--base($value, $flags);
  } @elseif $mixin == 'drops-caret--shape' {
    @include drops-caret--shape($value, $flags);
  } @elseif $mixin == 'drops-caret--color' {
    @include drops-caret--color($value, $flags);
  } @elseif $mixin == 'drops-caret--position' {
    @include drops-caret--position($value, $flags);
  } @elseif $mixin == 'drops-caret--margin' {
    @include drops-caret--margin($value, $flags);
  } @elseif $mixin == 'drops--gutter' {
    @include drops--gutter($value, $flags);
  }
};


/**
 * drop
 */
$drop--selector: selector--constructor($drops--synthax, 'drop');

@include selector($drop--selector) {
  @include declaration('font-size', $drops--font-size);
  @include declaration('font-family', $drops--font-family);
  @include declaration('font-weight', $drops--font-weight);
  @include declaration('text-transform', $drops--text-transform);
  @include declaration('letter-spacing', $drops--letter-spacing);
  @include declaration('line-height', $drops--line-height);
  @include declaration('text-align', $drops--text-align);
  @include declaration('text-decoration', $drops--text-decoration);
  @include declaration('border-width', $drops--border-width);
  @include declaration('border-style', $drops--border-style);
  @include declaration('border-color', $drops--border-color);
  @include declaration('border-radius', $drops--border-radius);
  @include declaration('color', $drops--color);
  @include declaration('box-shadow', $drops--box-shadow);
  @include declaration('background', $drops--background);
  @include declaration('background-color', $drops--background-color);
  @include declaration('min-width', $drops--min-width);
  @include declaration('max-width', $drops--max-width);
  @include declaration('width', $drops--width);
  @include declaration('-include-drops--gutter', $drops--margin);

  @include block-generation($drop--selector);
}

/**
 * caret
 */
$drop-before--selector: selector--set-pseudo-element($drop--selector, 'before');

@include selector($drop-before--selector) {
  @include declaration('content', '');
  @include declaration('position', absolute);
  @include declaration('z-index', 1);

  @include declaration('-include-drops-caret--base', $drops-caret--base);
  @include declaration('-include-drops-caret--shape', $drops-caret--height);
  @include declaration('-include-drops-caret--color', $drops--border-color);
  @include declaration('-include-drops-caret--position', null);
  @include declaration('-include-drops-caret--margin', $drops--border-width);

  @include block-generation($drop-before--selector);
}

$drop-after--selector: selector--set-pseudo-element($drop--selector, 'after');

@include selector($drop-after--selector) {
  @include declaration('content', '');
  @include declaration('position', absolute);
  @include declaration('z-index', 2);

  @include declaration('-include-drops-caret--base', $drops-caret--base);
  @include declaration('-include-drops-caret--shape', $drops-caret--height);
  @include declaration('-include-drops-caret--color', $drops--background-color);
  @include declaration('-include-drops-caret--position', null);

  @include block-generation($drop-after--selector);
}

/**
 * menu
 */
$drop-menu--selector: selector--set-element($drop--selector, 'menu');

@include selector($drop-menu--selector) {
  @include declaration('padding-top', $drops-menu--padding-y);
  @include declaration('padding-bottom', $drops-menu--padding-y);
  @include declaration('margin', $drops-menu--margin);
  @include declaration('font-size', $drops-menu--font-size);
  @include declaration('color', $drops-menu--color);
  @include declaration('text-align', $drops-menu--text-align);
  @include declaration('background-color', $drops-menu--background-color);
  @include declaration('background-clip', padding-box);
  @include block-generation($drop-menu--selector);
}


/**
 * heading
 */
$drop-heading--selector: selector--set-element($drop--selector, 'heading');

@include selector($drop-heading--selector) {
  @include declaration('padding-top', $drops-heading--padding-y);
  @include declaration('padding-bottom', $drops-heading--padding-y);
  @include declaration('padding-left', $drops--padding-x);
  @include declaration('padding-right', $drops--padding-x);
  @include declaration('font-size', $drops-heading--font-size);
  @include declaration('line-height', $drops-heading--line-height);
  @include declaration('letter-spacing', $drops-heading--letter-spacing);
  @include declaration('font-weight', $drops-heading--font-weight);
  @include declaration('text-transform', $drops-heading--text-transform);
  @include declaration('text-decoration', $drops-heading--text-decoration);
  @include declaration('color', $drops-heading--color);

  @include declaration('display', block);
  @include declaration('margin', 0);
  @include declaration('white-space', nowrap);
  @include block-generation($drop-heading--selector);
}


/**
 * anchor
 */
$drop-anchor--selector: selector--set-element($drop--selector, 'anchor');

@include selector($drop-anchor--selector) {
  @include declaration('padding-top', $drops-anchor--padding-y);
  @include declaration('padding-bottom', $drops-anchor--padding-y);
  @include declaration('padding-left', $drops--padding-x);
  @include declaration('padding-right', $drops--padding-x);
  @include declaration('font-size', $drops-anchor--font-size);
  @include declaration('line-height', $drops-anchor--line-height);
  @include declaration('letter-spacing', $drops-anchor--letter-spacing);
  @include declaration('font-weight', $drops-anchor--font-weight);
  @include declaration('text-transform', $drops-anchor--text-transform);
  @include declaration('text-decoration', $drops-anchor--text-decoration);
  @include declaration('color', $drops-anchor--color);
  @include declaration('background-color', $drops-anchor--background-color);

  @include declaration('display', block);
  @include declaration('width', 100%, ('<button'));
  @include declaration('text-align', inherit, ('<button'));
  @include declaration('clear', both);
  @include declaration('background', none, ('<button'));
  @include declaration('border', 0, ('<button'));
  @include declaration('white-space', no-wrap);
  @include block-generation($drop-anchor--selector);
}


/**
 * divider
 */
$drop-divider--selector: selector--set-element($drop--selector, 'divider');

@include selector($drop-divider--selector) {
  @include declaration('-include-drops-divider--border-width', $drops--border-width);
  @include declaration('border-color', $drops--border-color);
  @include block-generation($drop-divider--selector);
}


/**
 * header
 */
$drop-header--selector: selector--set-element($drop--selector, 'header');

@include selector($drop-header--selector) {
  @include declaration('color', $drops-header--color);
  @include declaration('font-weight', $drops-header--font-weight);
  @include declaration('font-size', $drops-header--font-size);
  @include declaration('padding-top', $drops-header--padding-y);
  @include declaration('padding-bottom', $drops-header--padding-y);
  @include declaration('padding-left', $drops--padding-x);
  @include declaration('padding-right', $drops--padding-x);
  @include declaration('background-color', $drops-header--background-color);
  @include declaration('border-bottom', $drops-header--border-bottom);
  @include declaration('margin', 0);
  @include declaration('display', none, (':empty'));
  @include block-generation($drop-header--selector);
}


/**
 * content
 */
$drop-content--selector: selector--set-element($drop--selector, 'content');

@include selector($drop-content--selector) {
  @include declaration('padding-top', $drops-content--padding-y);
  @include declaration('padding-bottom', $drops-content--padding-y);
  @include declaration('padding-left', $drops--padding-x);
  @include declaration('padding-right', $drops--padding-x);
  @include block-generation($drop-content--selector);
}
